.nav {
  background-color:mediumseagreen;
  text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
}
