.game_board {
  /* display: flex; */
  color:black;
  width: 60rem;
  /* justify-content: center; */
  /* flex-direction:row;
  align-items: center; */
margin-left: auto;
margin-right: auto;
margin-top: 5rem;
}

.text {
  color: black;
  font-weight: bold;
  text-shadow: 1px 6px 2px green, 0 0 1em blue, 0 0 0.2em blue;
}
