.topic{
  width: 6rem;
  height: 6rem;
  border: 2px solid black;
  background-color: mediumseagreen;
  border-radius: 10px;
  text-align: center;

  display: flex;
  color:black;
  font-weight: bolder;
  font-size: large;
  width: 60rem;
  justify-content: space-around;
  flex-direction:row;
  align-items: center;
}
